
  <mat-toolbar role="heading" color="#827777">
      <span>iRegulate</span>
      <span class="toolbar-content"></span>
        <button mat-button routerLink="" >Dashboard</button>
        <button mat-button routerLink="">Stakeholders<mat-icon>arrow_drop_down</mat-icon></button>
        <button mat-button routerLink="fraud">Fraud</button>
        <button mat-button routerLink="regulations">Regulations</button>
        <mat-icon>settings</mat-icon>

    </mat-toolbar>



<div>
  <router-outlet></router-outlet>
</div>
<app-footer>
    <mat-toolbar>
        <span>&copy; <a >iRegulator 2018</a> </span>
        <span class="toolbar-content"></span>

            <button mat-button routerLink="">Stakeholders</button>
            <button mat-button routerLink="fraud">Fraud</button>
            <button mat-button routerLink="regulations">Regulations</button>
            <button mat-button routerLink="" >Support</button>
            <button mat-button routerLink="" >Help</button>

      </mat-toolbar>


</app-footer>
